<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-pag1">
    <div class="container">
      <h1>O que você quer fazer hoje?</h1>
      <p>Toque em + para adicionar suas ações.</p>
    </div>

    <img src="assets/todolist.png" alt="welcome" class="todolist" />
  </div>

  <!-- Botão redondo -->
<button class="fab-button" (click)="openAddTaskModal()">+</button>
</ion-content>
