@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos para a imagem dentro do ion-header */
/* Garante que a imagem seja visível e ajustada dentro do ion-toolbar */
.logoacao {
    width: 100px; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem é exibida */
    margin-right: 10px; /* Espaço entre a imagem e o título */
    /* Adiciona uma borda temporária para verificar a visibilidade */
    border: 1px solid red; /* Remova ou ajuste conforme necessário */
  }
  
/* Ajustes adicionais para garantir que a imagem esteja centralizada com o título */
ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta o espaçamento entre a imagem e o título */
}