<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="!loading">
    <div *ngIf="tasks.length === 0" class="content-pag1">
      <div class="container">
        <h1>O que você quer fazer hoje?</h1>
        <p>Toque em + para adicionar suas ações.</p>
      </div>
      <img src="assets/todolist.png" alt="welcome" class="todolist" />
    </div>

    <div *ngIf="tasks.length > 0">
      <ion-list>
        <ion-item *ngFor="let task of tasks" class="card">
          <ion-label>
            <h2>{{ task.title }}</h2>
            <p>{{ task.description }}</p>
            <p><strong>Início:</strong> {{ task.start_time }} - <strong>Término:</strong> {{ task.end_time }}</p>
          </ion-label>
          <ion-button color="danger" (click)="deleteTask(task.id)">Excluir</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

  <button class="fab-button" (click)="openAddTaskModal()">+</button>
</ion-content>
