<ion-content class="ion-padding">
  <div class="welcome-container">
    <img src="assets/logoacao.png" alt="Logo" class="logoacao" />
    <div class="content">
      <p>Seja Bem-Vindo(a)</p>
      <h1>Gerencie suas tarefas diárias de 
        forma simples e eficaz.</h1>
      <img
        src="assets/undraw_Events_re_98ue.png"
        alt="welcome"
        class="welcomeimg"
      />

      <ion-button (click)="goToLogin()"> Próximo </ion-button>
    </div>
    
  </div>
</ion-content>
