.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}
