<ion-content class="ion-padding signup-page">
  <div class="signup-container">
    <!-- Logo -->
    <img src="assets/logoacao.png" alt="Logo" class="logoacao" />

    <!-- Formulário de Cadastro -->
    <form (ngSubmit)="register()" class="signup-form">
      <!-- Campo Username -->
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Username</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="signupData.name"
          name="name"
          required
        ></ion-input>
      </ion-item>

      <!-- Campo Email -->
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Email</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="signupData.email"
          name="email"
          required
        ></ion-input>
      </ion-item>

      <!-- Campo Senha -->
      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="signupData.password"
          name="password"
          required
          maxlength="7"
          pattern="[0-9]*"
          inputmode="numeric"
        ></ion-input>
      </ion-item>

      <!-- Mensagem de erro se a senha não for válida -->
      <ion-text
        color="danger"
        *ngIf="!isPasswordValid(signupData.password) && signupData.password"
      >
        A senha deve conter exatamente 7 caracteres numéricos.
      </ion-text>

      <!-- Botão Cadastrar -->
      <ion-button expand="block" type="submit" class="signup-btn">
        Cadastrar
      </ion-button>

      <!-- Texto de Login -->
      <ion-text class="login-text">
        Já tem uma conta? <a [routerLink]="['/login']">Faça login</a>
      </ion-text>
    </form>
  </div>
</ion-content>
