.signup-container {
    width: 100%;
    max-width: 500px; /* Ajuste a largura máxima conforme necessário */
    padding: 16px; /* Adicione um padding interno se necessário */
    margin-top: 100px; /* Ajusta o espaçamento superior */
}

