/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";

.logoacao {
  width: 33vw;
  height: auto;
  margin-bottom: 4vh;
  position: absolute;
  top: 2vh;
  left: 2vw;
}

ion-button {
  border-radius: 66px !important;
}

/* Estilo para o ion-header */
ion-header {
  --background: transparent; /* Mantém o fundo transparente */
}

/* Estilo para o ion-toolbar */
ion-toolbar {
  --background: #0E8B83; /* Cor de fundo da barra de ferramentas */
  --color: #ffffff; /* Cor do texto */
  padding: 16px; /* Espaçamento interno */
  position: relative; /* Necessário para posicionar o pseudo-elemento */
  overflow: hidden; /* Garante que a "onda" não ultrapasse o contêiner */
}

/* Estilo para o ion-title */
ion-title {
  font-size: 24px; /* Tamanho da fonte do título */
  font-weight: bold; /* Peso da fonte do título */
  text-align: center; /* Alinhamento do texto */
  position: relative; /* Para garantir que o título fique sobre a onda */
  z-index: 1; /* Traz o título para frente do pseudo-elemento */
}
